[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/weth"]
	path = lib/weth
	url = https://github.com/dapphub/weth
[submodule "lib/geb"]
	path = lib/geb
	url = https://github.com/reflexer-labs/geb.git
